/* Style pour la zone déposer d'un upload par glisser déposer */

.upload {
    border: #00469c 2px dashed;
    margin: 10px;
    padding: 10px;
    /* pour centrer verticalement et horizontalement */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    max-width: 1024px;
    min-height: 150px;
}

.upload .content {
    position: absolute; /* Positionnement absolu pour le contenu */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrage absolu */
}

.upload:hover {
    background-color: #fcfcfc;
    cursor: pointer
}

.upload img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}